In [1]:
#import pandas and other libraries
import pandas as pd
import numpy as np
import json
from pprint import pprint

In [6]:
#load json file
with open('nflData.json') as f:
    data = json.load(f)

In [14]:
#convert to pandas dataframe
nflFrame = pd.DataFrame(data)
nflFrame.head()

,player_id,name,status,position_type,eligible_positions,percent_owned,season,week_1,week_2,week_3,...,week_5,week_6,week_7,week_8,week_9,week_10,week_11,week_12,week_13,Fantasy Points
0,9265,Matthew Stafford,Q,O,[QB],64,"[{'player_id': 9265, 'name': 'Matthew Stafford...","[{'player_id': 9265, 'name': 'Matthew Stafford...","[{'player_id': 9265, 'name': 'Matthew Stafford...","[{'player_id': 9265, 'name': 'Matthew Stafford...",...,"[{'player_id': 9265, 'name': 'Matthew Stafford...","[{'player_id': 9265, 'name': 'Matthew Stafford...","[{'player_id': 9265, 'name': 'Matthew Stafford...","[{'player_id': 9265, 'name': 'Matthew Stafford...","[{'player_id': 9265, 'name': 'Matthew Stafford...","[{'player_id': 9265, 'name': 'Matthew Stafford...","[{'player_id': 9265, 'name': 'Matthew Stafford...","[{'player_id': 9265, 'name': 'Matthew Stafford...","[{'player_id': 9265, 'name': 'Matthew Stafford...",173.42
1,25812,Kirk Cousins,,O,[QB],59,"[{'player_id': 25812, 'name': 'Kirk Cousins', ...","[{'player_id': 25812, 'name': 'Kirk Cousins', ...","[{'player_id': 25812, 'name': 'Kirk Cousins', ...","[{'player_id': 25812, 'name': 'Kirk Cousins', ...",...,"[{'player_id': 25812, 'name': 'Kirk Cousins', ...","[{'player_id': 25812, 'name': 'Kirk Cousins', ...","[{'player_id': 25812, 'name': 'Kirk Cousins', ...","[{'player_id': 25812, 'name': 'Kirk Cousins', ...","[{'player_id': 25812, 'name': 'Kirk Cousins', ...","[{'player_id': 25812, 'name': 'Kirk Cousins', ...","[{'player_id': 25812, 'name': 'Kirk Cousins', ...","[{'player_id': 25812, 'name': 'Kirk Cousins', ...","[{'player_id': 25812, 'name': 'Kirk Cousins', ...",176.08
2,26534,Justin Tucker,,K,[K],97,"[{'player_id': 26534, 'name': 'Justin Tucker',...","[{'player_id': 26534, 'name': 'Justin Tucker',...","[{'player_id': 26534, 'name': 'Justin Tucker',...","[{'player_id': 26534, 'name': 'Justin Tucker',...",...,"[{'player_id': 26534, 'name': 'Justin Tucker',...","[{'player_id': 26534, 'name': 'Justin Tucker',...","[{'player_id': 26534, 'name': 'Justin Tucker',...","[{'player_id': 26534, 'name': 'Justin Tucker',...","[{'player_id': 26534, 'name': 'Justin Tucker',...","[{'player_id': 26534, 'name': 'Justin Tucker',...","[{'player_id': 26534, 'name': 'Justin Tucker',...","[{'player_id': 26534, 'name': 'Justin Tucker',...","[{'player_id': 26534, 'name': 'Justin Tucker',...",112.00
3,26650,DeAndre Hopkins,,O,"[WR, W/R/T]",89,"[{'player_id': 26650, 'name': 'DeAndre Hopkins...","[{'player_id': 26650, 'name': 'DeAndre Hopkins...","[{'player_id': 26650, 'name': 'DeAndre Hopkins...","[{'player_id': 26650, 'name': 'DeAndre Hopkins...",...,"[{'player_id': 26650, 'name': 'DeAndre Hopkins...","[{'player_id': 26650, 'name': 'DeAndre Hopkins...","[{'player_id': 26650, 'name': 'DeAndre Hopkins...","[{'player_id': 26650, 'name': 'DeAndre Hopkins...","[{'player_id': 26650, 'name': 'DeAndre Hopkins...","[{'player_id': 26650, 'name': 'DeAndre Hopkins...","[{'player_id': 26650, 'name': 'DeAndre Hopkins...","[{'player_id': 26650, 'name': 'DeAndre Hopkins...","[{'player_id': 26650, 'name': 'DeAndre Hopkins...",114.30
4,26658,Zach Ertz,,O,"[TE, W/R/T]",49,"[{'player_id': 26658, 'name': 'Zach Ertz', 'po...","[{'player_id': 26658, 'name': 'Zach Ertz', 'po...","[{'player_id': 26658, 'name': 'Zach Ertz', 'po...","[{'player_id': 26658, 'name': 'Zach Ertz', 'po...",...,"[{'player_id': 26658, 'name': 'Zach Ertz', 'po...","[{'player_id': 26658, 'name': 'Zach Ertz', 'po...","[{'player_id': 26658, 'name': 'Zach Ertz', 'po...","[{'player_id': 26658, 'name': 'Zach Ertz', 'po...","[{'player_id': 26658, 'name': 'Zach Ertz', 'po...","[{'player_id': 26658, 'name': 'Zach Ertz', 'po...","[{'player_id': 26658, 'name': 'Zach Ertz', 'po...","[{'player_id': 26658, 'name': 'Zach Ertz', 'po...","[{'player_id': 26658, 'name': 'Zach Ertz', 'po...",129.60

In [26]:
#Drop season and week columns
playerInfo = nflFrame.drop("season", axis=1)
for i in range(1,14):
    week = f"week_{i}"
    playerInfo.drop(week, axis=1, inplace=True)
playerInfo
playerInfo["Fantasy Points"] = playerInfo["Fantasy Points"].round(2)
playerInfo

,player_id,name,status,position_type,eligible_positions,percent_owned,Fantasy Points
0,9265,Matthew Stafford,Q,O,[QB],64,173.42
1,25812,Kirk Cousins,,O,[QB],59,176.08
2,26534,Justin Tucker,,K,[K],97,112.00
3,26650,DeAndre Hopkins,,O,"[WR, W/R/T]",89,114.30
4,26658,Zach Ertz,,O,"[TE, W/R/T]",49,129.60
...,...,...,...,...,...,...,...
180,100025,San Francisco,,DT,[DEF],75,93.00
181,100026,Seattle,,DT,[DEF],22,108.00
182,100027,Tampa Bay,,DT,[DEF],53,62.00
183,100028,Washington,,DT,[DEF],61,80.00
184,100033,Baltimore,,DT,[DEF],70,68.00

In [29]:
#Export Player Info to CSV
playerInfo.to_csv("csvs/player_Info", index=False, header=True)

In [48]:
seasonStats = nflFrame["season"]
offenseDf = nflFrame[nflFrame["position_type"] == "O"].reset_index(drop=True)
defenseDf = nflFrame[nflFrame["position_type"] == "DT"].reset_index(drop=True)
kickerDf = nflFrame[nflFrame["position_type"] == "K"].reset_index(drop=True)

In [49]:
#Extrtact table for Offense Stats
offSeasonStats = offenseDf["season"]
# Step 1: Explode the 'season' column to separate list elements
nflFrame_exploded = offenseDf.explode("season")

# Step 2: Flatten the dictionaries in the 'season' column
offSeasonStats = pd.json_normalize(nflFrame_exploded["season"])

# Step 3: Add the player_id back to the flattened DataFrame
offSeasonStats["player_id"] = nflFrame_exploded["player_id"]
offSeasonStats["Fantasy Points"] = offSeasonStats["Fantasy Points"].round(2)
offSeasonStats

,player_id,name,position_type,Pass Yds,Pass TD,Int,Sack,Rush Att,Rush Yds,Rush TD,...,Fum Ret TD,Pick Six,40 Yd Comp,40 Yd Pass TD,40 Yd Rush,40 Yd Rush TD,40 Yd Rec,40 Yd Rec TD,Targets,Fantasy Points
0,9265,Matthew Stafford,O,2983.0,17.0,7.0,28.0,17.0,11.0,0.0,...,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,173.42
1,25812,Kirk Cousins,O,3052.0,17.0,13.0,24.0,20.0,0.0,0.0,...,0.0,0.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,176.08
2,26650,DeAndre Hopkins,O,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57.0,114.30
3,26658,Zach Ertz,O,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75.0,129.60
4,26686,Travis Kelce,O,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101.0,147.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,40980,Ray Davis,O,0.0,0.0,0.0,0.0,80.0,342.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,12.0,98.77
150,40981,Braelon Allen,O,0.0,0.0,0.0,0.0,67.0,240.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,63.70
151,40993,Bucky Irving,O,0.0,0.0,0.0,0.0,133.0,732.0,6.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,37.0,185.43
152,41048,Tyrone Tracy Jr.,O,0.0,0.0,0.0,0.0,125.0,619.0,4.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,30.0,130.77
153,41097,Devaughn Vele,O,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0,76.70

In [50]:
#Extrtact table for Offense Stats
defSeasonStats = defenseDf["season"]
# Step 1: Explode the 'season' column to separate list elements
defFrame_exploded = defenseDf.explode("season")

# Step 2: Flatten the dictionaries in the 'season' column
defSeasonStats = pd.json_normalize(defFrame_exploded["season"])

# Step 3: Add the player_id back to the flattened DataFrame
defSeasonStats["player_id"] = defFrame_exploded["player_id"]
defSeasonStats["Fantasy Points"] = defSeasonStats["Fantasy Points"].round(2)
defSeasonStats

,player_id,name,position_type,Pts Allow,Sack,Int,Fum Rec,TD,Safe,Blk Kick,...,Pts Allow 35+,Def Yds Allow,Yds Allow 0-99,Yds Allow 100-199,Yds Allow 200-299,Yds Allow 300-399,Yds Allow 400-499,Yds Allow 500+,XPR,Fantasy Points
0,100002,Buffalo,DT,224.0,29.0,13.0,11.0,2.0,0.0,0.0,...,1.0,3859.0,0.0,0.0,6.0,4.0,2.0,0.0,0.0,124.0
1,100004,Cincinnati,DT,322.0,21.0,7.0,5.0,1.0,1.0,1.0,...,5.0,4430.0,0.0,0.0,3.0,6.0,1.0,2.0,0.0,39.0
2,100006,Dallas,DT,333.0,34.0,9.0,5.0,1.0,0.0,1.0,...,2.0,4316.0,0.0,0.0,3.0,4.0,5.0,0.0,0.0,59.0
3,100007,Denver,DT,234.0,47.0,12.0,6.0,4.0,2.0,0.0,...,1.0,4104.0,0.0,0.0,6.0,6.0,0.0,1.0,0.0,151.0
4,100008,Detroit,DT,195.0,30.0,14.0,5.0,1.0,0.0,0.0,...,0.0,3844.0,0.0,1.0,5.0,3.0,2.0,1.0,0.0,116.0
5,100009,Green Bay,DT,228.0,32.0,11.0,12.0,1.0,0.0,2.0,...,0.0,3887.0,0.0,1.0,3.0,7.0,1.0,0.0,0.0,122.0
6,100012,Kansas City,DT,235.0,24.0,6.0,4.0,1.0,0.0,1.0,...,0.0,3743.0,0.0,0.0,5.0,5.0,2.0,0.0,0.0,79.0
7,100014,Los Angeles,DT,290.0,28.0,10.0,5.0,3.0,1.0,2.0,...,2.0,4314.0,0.0,0.0,3.0,5.0,4.0,0.0,0.0,78.0
8,100016,Minnesota,DT,211.0,39.0,18.0,6.0,3.0,0.0,2.0,...,0.0,3896.0,0.0,1.0,5.0,4.0,2.0,0.0,0.0,152.0
9,100021,Philadelphia,DT,212.0,36.0,7.0,7.0,0.0,0.0,1.0,...,0.0,3393.0,0.0,2.0,6.0,2.0,2.0,0.0,0.0,120.0
10,100022,Arizona,DT,253.0,34.0,6.0,7.0,0.0,2.0,0.0,...,1.0,4018.0,0.0,0.0,5.0,5.0,2.0,0.0,0.0,93.0
11,100023,Pittsburgh,DT,218.0,29.0,13.0,12.0,1.0,0.0,3.0,...,0.0,3732.0,0.0,1.0,4.0,6.0,1.0,0.0,0.0,133.0
12,100025,San Francisco,DT,295.0,28.0,11.0,5.0,2.0,0.0,1.0,...,2.0,3719.0,0.0,0.0,6.0,5.0,1.0,0.0,0.0,93.0
13,100026,Seattle,DT,255.0,30.0,9.0,4.0,4.0,1.0,3.0,...,2.0,4051.0,0.0,0.0,5.0,4.0,3.0,0.0,0.0,108.0
14,100027,Tampa Bay,DT,296.0,33.0,5.0,9.0,1.0,1.0,1.0,...,2.0,4505.0,0.0,0.0,3.0,5.0,2.0,2.0,0.0,62.0
15,100028,Washington,DT,296.0,32.0,4.0,9.0,1.0,0.0,1.0,...,1.0,4260.0,0.0,1.0,3.0,6.0,3.0,0.0,0.0,80.0
16,100033,Baltimore,DT,316.0,41.0,7.0,4.0,0.0,0.0,1.0,...,1.0,4519.0,0.0,0.0,4.0,4.0,5.0,0.0,0.0,68.0

In [51]:
#Extrtact table for Offense Stats
kickSeasonStats = kickerDf["season"]
# Step 1: Explode the 'season' column to separate list elements
kickFrame_exploded = kickerDf.explode("season")

# Step 2: Flatten the dictionaries in the 'season' column
kickSeasonStats = pd.json_normalize(kickFrame_exploded["season"])

# Step 3: Add the player_id back to the flattened DataFrame
kickSeasonStats["player_id"] = kickFrame_exploded["player_id"]
kickSeasonStats["Fantasy Points"] = kickSeasonStats["Fantasy Points"].round(2)
kickSeasonStats

,player_id,name,position_type,FG 0-19,FG 20-29,FG 30-39,FG 40-49,FG 50+,PAT Made,Fantasy Points
0,26534,Justin Tucker,K,0.0,3.0,7.0,5.0,4.0,42.0,112.0
1,28188,Chris Boswell,K,0.0,9.0,9.0,6.0,10.0,26.0,154.0
2,29792,Ka'imi Fairbairn,K,0.0,6.0,9.0,3.0,13.0,29.0,151.0
3,30426,Younghoe Koo,K,0.0,5.0,5.0,5.0,6.0,24.0,104.0
4,31199,Jason Sanders,K,0.0,4.0,8.0,3.0,7.0,20.0,103.0
5,32002,Austin Seibert,K,0.0,10.0,7.0,8.0,2.0,22.0,115.0
6,32417,Chase McLaughlin,K,0.0,8.0,5.0,1.0,7.0,34.0,112.0
7,32858,Tyler Bass,K,0.0,6.0,6.0,5.0,2.0,38.0,104.0
8,33537,Evan McPherson,K,0.0,6.0,4.0,3.0,3.0,37.0,94.0
9,34344,Cameron Dicker,K,1.0,7.0,3.0,8.0,8.0,21.0,126.0
10,34657,Parker Romo,K,0.0,3.0,3.0,4.0,1.0,7.0,46.0
11,40129,Jake Moody,K,0.0,7.0,5.0,5.0,2.0,18.0,84.0
12,40819,Brandon Aubrey,K,0.0,3.0,5.0,9.0,10.0,21.0,131.0
13,40835,Jake Bates,K,0.0,3.0,7.0,4.0,5.0,44.0,115.0

In [52]:
#Export offense, defense, and kicker stats to CSV
offSeasonStats.to_csv("csvs/offense_season_stats", index=False, header=True)
defSeasonStats.to_csv("csvs/defense_season_stats", index=False, header=True)
kickSeasonStats.to_csv("csvs/kicker_season_stats", index=False, header=True)

In [76]:
#grab the weeks columns
weeks = ["player_id", "name"]
for i in range(1, 14):
    week = f"week_{i}"
    weeks.append(week)
offWeek = offenseDf[weeks]
# melt the dataframe
meltedWeeks = pd.melt(offWeek, id_vars=["player_id", "name"], var_name="week_stat", value_name="stat_value")
meltedWeeks.tail(20)
meltedWeeks = meltedWeeks.drop(["player_id", "name"], axis=1)
#Extrtact table for Offense Stats
offWeekStats = meltedWeeks["stat_value"]
# Step 1: Explode the 'season' column to separate list elements
explodedWeekStats = meltedWeeks.explode("stat_value")

# Step 2: Flatten the dictionaries in the 'season' column
offWeekStats = pd.json_normalize(explodedWeekStats["stat_value"])
offWeekStats["Fantasy Points"] = offWeekStats["Fantasy Points"].round(2)
offWeekStats

,player_id,name,position_type,Pass Yds,Pass TD,Int,Sack,Rush Att,Rush Yds,Rush TD,...,Fum Ret TD,Pick Six,40 Yd Comp,40 Yd Pass TD,40 Yd Rush,40 Yd Rush TD,40 Yd Rec,40 Yd Rec TD,Targets,Fantasy Points
0,9265,Matthew Stafford,O,317.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,16.68
1,25812,Kirk Cousins,O,155.0,1.0,2.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.20
2,26650,DeAndre Hopkins,O,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.80
3,26658,Zach Ertz,O,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,5.80
4,26686,Travis Kelce,O,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,6.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,40980,Ray Davis,O,0.0,0.0,0.0,0.0,11.0,63.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,16.57
1998,40981,Braelon Allen,O,0.0,0.0,0.0,0.0,5.0,11.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.70
1999,40993,Bucky Irving,O,0.0,0.0,0.0,0.0,25.0,152.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,30.83
2000,41048,Tyrone Tracy Jr.,O,0.0,0.0,0.0,0.0,9.0,32.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,14.50
2001,41097,Devaughn Vele,O,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.60

In [83]:
#grab the weeks columns
weeks = ["player_id", "name"]
for i in range(1, 14):
    week = f"week_{i}"
    weeks.append(week)
defWeek = defenseDf[weeks]
# melt the dataframe
meltedWeeks = pd.melt(defWeek, id_vars=["player_id", "name"], var_name="week_stat", value_name="stat_value")
meltedWeeks.tail(20)
meltedWeeks = meltedWeeks.drop(["player_id", "name"], axis=1)
#Extrtact table for Offense Stats
defWeekStats = meltedWeeks["stat_value"]
# Step 1: Explode the 'season' column to separate list elements
explodedWeekStats = meltedWeeks.explode("stat_value")

# Step 2: Flatten the dictionaries in the 'season' column
defWeekStats = pd.json_normalize(explodedWeekStats["stat_value"])
defWeekStats["Fantasy Points"] = defWeekStats["Fantasy Points"].round(2)
defWeekStats

,player_id,name,position_type,Pts Allow,Sack,Int,Fum Rec,TD,Safe,Blk Kick,...,Pts Allow 35+,Def Yds Allow,Yds Allow 0-99,Yds Allow 100-199,Yds Allow 200-299,Yds Allow 300-399,Yds Allow 400-499,Yds Allow 500+,XPR,Fantasy Points
0,100002,Buffalo,DT,28.0,4.0,0.0,1.0,0.0,0.0,0.0,...,0.0,270.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,13.00
1,100004,Cincinnati,DT,16.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,290.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7.47
2,100006,Dallas,DT,17.0,6.0,2.0,0.0,0.0,0.0,0.0,...,0.0,230.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,29.67
3,100007,Denver,DT,26.0,2.0,1.0,1.0,0.0,2.0,0.0,...,0.0,304.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,17.73
4,100008,Detroit,DT,20.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,387.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,100025,San Francisco,DT,35.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,372.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.53
217,100026,Seattle,DT,21.0,2.0,1.0,1.0,1.0,0.0,1.0,...,0.0,258.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,20.80
218,100027,Tampa Bay,DT,23.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,367.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.53
219,100028,Washington,DT,19.0,2.0,0.0,2.0,0.0,0.0,0.0,...,0.0,245.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,18.20
220,100033,Baltimore,DT,24.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,252.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,11.20

In [78]:
#grab the weeks columns
weeks = ["player_id", "name"]
for i in range(1, 14):
    week = f"week_{i}"
    weeks.append(week)
kickWeek = kickerDf[weeks]
# melt the dataframe
meltedWeeks = pd.melt(kickWeek, id_vars=["player_id", "name"], var_name="week_stat", value_name="stat_value")
meltedWeeks.tail(20)
meltedWeeks = meltedWeeks.drop(["player_id", "name"], axis=1)
#Extrtact table for defense Stats
kickWeekStats = meltedWeeks["stat_value"]
# Step 1: Explode the 'season' column to separate list elements
explodedWeekStats = meltedWeeks.explode("stat_value")

# Step 2: Flatten the dictionaries in the 'season' column
kickWeekStats = pd.json_normalize(explodedWeekStats["stat_value"])
kickWeekStats["Fantasy Points"] = kickWeekStats["Fantasy Points"].round(2)
kickWeekStats

,player_id,name,position_type,FG 0-19,FG 20-29,FG 30-39,FG 40-49,FG 50+,PAT Made,Fantasy Points
0,26534,Justin Tucker,K,0.0,1.0,1.0,0.0,0.0,2.0,8.0
1,28188,Chris Boswell,K,0.0,1.0,0.0,2.0,3.0,0.0,26.0
2,29792,Ka'imi Fairbairn,K,0.0,0.0,0.0,0.0,3.0,2.0,17.0
3,30426,Younghoe Koo,K,0.0,1.0,0.0,0.0,0.0,1.0,4.0
4,31199,Jason Sanders,K,0.0,0.0,1.0,0.0,1.0,2.0,10.0
...,...,...,...,...,...,...,...,...,...,...
177,34344,Cameron Dicker,K,0.0,0.0,1.0,1.0,1.0,0.0,12.0
178,34657,Parker Romo,K,0.0,0.0,1.0,1.0,1.0,2.0,14.0
179,40129,Jake Moody,K,0.0,0.0,1.0,0.0,0.0,1.0,4.0
180,40819,Brandon Aubrey,K,0.0,1.0,1.0,0.0,0.0,3.0,9.0
181,40835,Jake Bates,K,0.0,0.0,2.0,1.0,0.0,2.0,12.0

In [89]:
# Step 1: Verify column names
print(kickerDf.columns.tolist())  # Check actual column names

# Step 2: Adjust weeks list to match column naming
weeks = ["player_id", "name"]
for i in range(1, 14):  # Adjust for total weeks
    for stat in ["FG_0-19", "FG_20-29", "FG_30-39", "FG_40-49", "FG_50+", "PAT_Made", "Fantasy_Points"]:
        weeks.append(f"week_{i}_{stat}")  # Adjust naming to match actual columns

# Verify the weeks list
print("Columns to select:", weeks)

# Step 3: Filter kicker stats DataFrame
kickWeek = kickerDf[weeks]  # KeyError will occur here if column names don't match

# Step 4: Melt the DataFrame
meltedWeeks = pd.melt(
    kickWeek, 
    id_vars=["player_id", "name"], 
    var_name="week_stat", 
    value_name="stat_value"
)

# Step 5: Extract week_number and stat_name
meltedWeeks[["week_number", "stat_name"]] = meltedWeeks["week_stat"].str.extract(r"week_(\d+)_(.*)")

# Step 6: Drop unnecessary columns
meltedWeeks = meltedWeeks.drop(["week_stat"], axis=1)

# Step 7: Verify the output
print(meltedWeeks.head())

['player_id', 'name', 'status', 'position_type', 'eligible_positions', 'percent_owned', 'season', 'week_1', 'week_2', 'week_3', 'week_4', 'week_5', 'week_6', 'week_7', 'week_8', 'week_9', 'week_10', 'week_11', 'week_12', 'week_13', 'Fantasy Points']
Columns to select: ['player_id', 'name', 'week_1_FG_0-19', 'week_1_FG_20-29', 'week_1_FG_30-39', 'week_1_FG_40-49', 'week_1_FG_50+', 'week_1_PAT_Made', 'week_1_Fantasy_Points', 'week_2_FG_0-19', 'week_2_FG_20-29', 'week_2_FG_30-39', 'week_2_FG_40-49', 'week_2_FG_50+', 'week_2_PAT_Made', 'week_2_Fantasy_Points', 'week_3_FG_0-19', 'week_3_FG_20-29', 'week_3_FG_30-39', 'week_3_FG_40-49', 'week_3_FG_50+', 'week_3_PAT_Made', 'week_3_Fantasy_Points', 'week_4_FG_0-19', 'week_4_FG_20-29', 'week_4_FG_30-39', 'week_4_FG_40-49', 'week_4_FG_50+', 'week_4_PAT_Made', 'week_4_Fantasy_Points', 'week_5_FG_0-19', 'week_5_FG_20-29', 'week_5_FG_30-39', 'week_5_FG_40-49', 'week_5_FG_50+', 'week_5_PAT_Made', 'week_5_Fantasy_Points', 'week_6_FG_0-19', 'week_6_FG_20-29', 'week_6_FG_30-39', 'week_6_FG_40-49', 'week_6_FG_50+', 'week_6_PAT_Made', 'week_6_Fantasy_Points', 'week_7_FG_0-19', 'week_7_FG_20-29', 'week_7_FG_30-39', 'week_7_FG_40-49', 'week_7_FG_50+', 'week_7_PAT_Made', 'week_7_Fantasy_Points', 'week_8_FG_0-19', 'week_8_FG_20-29', 'week_8_FG_30-39', 'week_8_FG_40-49', 'week_8_FG_50+', 'week_8_PAT_Made', 'week_8_Fantasy_Points', 'week_9_FG_0-19', 'week_9_FG_20-29', 'week_9_FG_30-39', 'week_9_FG_40-49', 'week_9_FG_50+', 'week_9_PAT_Made', 'week_9_Fantasy_Points', 'week_10_FG_0-19', 'week_10_FG_20-29', 'week_10_FG_30-39', 'week_10_FG_40-49', 'week_10_FG_50+', 'week_10_PAT_Made', 'week_10_Fantasy_Points', 'week_11_FG_0-19', 'week_11_FG_20-29', 'week_11_FG_30-39', 'week_11_FG_40-49', 'week_11_FG_50+', 'week_11_PAT_Made', 'week_11_Fantasy_Points', 'week_12_FG_0-19', 'week_12_FG_20-29', 'week_12_FG_30-39', 'week_12_FG_40-49', 'week_12_FG_50+', 'week_12_PAT_Made', 'week_12_Fantasy_Points', 'week_13_FG_0-19', 'week_13_FG_20-29', 'week_13_FG_30-39', 'week_13_FG_40-49', 'week_13_FG_50+', 'week_13_PAT_Made', 'week_13_Fantasy_Points']

KeyError: "['week_1_FG_0-19', 'week_1_FG_20-29', 'week_1_FG_30-39', 'week_1_FG_40-49', 'week_1_FG_50+', 'week_1_PAT_Made', 'week_1_Fantasy_Points', 'week_2_FG_0-19', 'week_2_FG_20-29', 'week_2_FG_30-39', 'week_2_FG_40-49', 'week_2_FG_50+', 'week_2_PAT_Made', 'week_2_Fantasy_Points', 'week_3_FG_0-19', 'week_3_FG_20-29', 'week_3_FG_30-39', 'week_3_FG_40-49', 'week_3_FG_50+', 'week_3_PAT_Made', 'week_3_Fantasy_Points', 'week_4_FG_0-19', 'week_4_FG_20-29', 'week_4_FG_30-39', 'week_4_FG_40-49', 'week_4_FG_50+', 'week_4_PAT_Made', 'week_4_Fantasy_Points', 'week_5_FG_0-19', 'week_5_FG_20-29', 'week_5_FG_30-39', 'week_5_FG_40-49', 'week_5_FG_50+', 'week_5_PAT_Made', 'week_5_Fantasy_Points', 'week_6_FG_0-19', 'week_6_FG_20-29', 'week_6_FG_30-39', 'week_6_FG_40-49', 'week_6_FG_50+', 'week_6_PAT_Made', 'week_6_Fantasy_Points', 'week_7_FG_0-19', 'week_7_FG_20-29', 'week_7_FG_30-39', 'week_7_FG_40-49', 'week_7_FG_50+', 'week_7_PAT_Made', 'week_7_Fantasy_Points', 'week_8_FG_0-19', 'week_8_FG_20-29', 'week_8_FG_30-39', 'week_8_FG_40-49', 'week_8_FG_50+', 'week_8_PAT_Made', 'week_8_Fantasy_Points', 'week_9_FG_0-19', 'week_9_FG_20-29', 'week_9_FG_30-39', 'week_9_FG_40-49', 'week_9_FG_50+', 'week_9_PAT_Made', 'week_9_Fantasy_Points', 'week_10_FG_0-19', 'week_10_FG_20-29', 'week_10_FG_30-39', 'week_10_FG_40-49', 'week_10_FG_50+', 'week_10_PAT_Made', 'week_10_Fantasy_Points', 'week_11_FG_0-19', 'week_11_FG_20-29', 'week_11_FG_30-39', 'week_11_FG_40-49', 'week_11_FG_50+', 'week_11_PAT_Made', 'week_11_Fantasy_Points', 'week_12_FG_0-19', 'week_12_FG_20-29', 'week_12_FG_30-39', 'week_12_FG_40-49', 'week_12_FG_50+', 'week_12_PAT_Made', 'week_12_Fantasy_Points', 'week_13_FG_0-19', 'week_13_FG_20-29', 'week_13_FG_30-39', 'week_13_FG_40-49', 'week_13_FG_50+', 'week_13_PAT_Made', 'week_13_Fantasy_Points'] not in index"